<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  
</head>
<body>

    <div class="nav">
        
        <img class="logo" src="./img/logo-db.svg">
        <h1>ApiRest</h1>
      <a href="index.php?subscribe">  <button  class="subscribe">Incription</button> </a>
      <a href="index.php?connection">  <button  class="connection">connection</button> </a>
    </div>

 

    
